*.o
*.d
*.submit
obj/*
*~
*#
workdir*
macros/roofit/datacards/*.root
macros/roofit/datacards/*.txt
jobTempOutput*
JobConfig.dtd
macros/bkgfits/*.pdf
macros/bkgfits/results/
macros/roofit/RooVLQDict.C
macros/roofit/RooVLQDict_rdict.pcm
macros/roofit/create_roo
macros/roofit/create_roo_CR
macros/roofit/create_roo_2017
macros/roofit/create_roo_2017_CR
macros/roofit/create_roo_2018
macros/roofit/create_roo_2018_CR
macros/roofit/create_roo_allyears
macros/roofit/datacards/*.pdf
macros/roofit/datacards/CMSPlotStyle.pyc
run_local.py
macros/roofit/datacards/*.eps
macros/roofit/datacards/combine_logger.out
macros/roofit/datacards/*.json
macros/roofit/debug_histos.root
macros/roofit/libRooVLQ.so
macros/roofit/plots/
macros/roofit/setup.sh
macros/roofit/*.eps
macros/sigfits/*.txt
macros/sigfits/results/
macros/sigfits/*.eps
macros/categorisation/*.eps
macros/categorisation/*.pdf
*roostats*
macros/roofit/debug_histos*.root
macros/roofit/datacards/Canvas_1.C
macros/uncertainties/CMSPlotStyle.pyc
macros/uncertainties/PDF_variations_MT800_MA450.pdf
plots/